@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --header-background-rgb: 0, 0, 0;
  --footer-background-rgb: 0, 0, 0;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

header.exchvnge_header {
  background-color: var(--header-background-rgb);
  color: #fff;
  font-size: 14px;
  font-weight:bold;
  display:block;
  text-align:center;
  position: fixed;
  width:100%;
  height: 45px;
  display:block;
  top:0;
  z-index:100;
}

header.exchvnge_heaer h1{
  text-indent: -9999px;
  display:block;
  background-image: url(/exchvnge-logo-white.png) center center;
  background-size: contain;
  width:150px;
  height: 40px;

}


footer.exchvnge_footer {
  background-color: var(--footer-background-rgb);
  color: #fff;
  text-align:center;
  width: 100%;
  height: 35px;
  font-size:11px;
  position: fixed;
  bottom:0;
}

main{
  display:block;
  padding: 45px 15px 15px 45px
}